<div class="input-group m-4">
  <h5 class="mt-2">Freemium Videos</h5>
  <button
    tyoe="sumbit"
    class="form-control"
    class="btn btn-primary ml-3 floatRt"
    (click)="addNewEnable()"
    *ngIf="!addFlag"
  >
    <i class="icon-plus"></i>
  </button>
</div>
<div class="m-2" *ngIf="addFlag">
  <div class="input-group">
    <input
      [(ngModel)]="NewUrl"
      type="text"
      id="taskData"
      class="form-control"
      placeholder="Paste the url"
      required="required"
    />
    <input
      [(ngModel)]="NewSearch"
      type="text"
      id="taskData"
      class="form-control"
      placeholder="Type the exact Search key"
      required="required"
    />
    <button
      tyoe="sumbit"
      class="form-control"
      class="btn btn-primary"
      (click)="addNewVideoUrl()"
    >
      <i class="icon-ok-sign"></i>
    </button>
    <button
      tyoe="sumbit"
      class="form-control"
      class="btn btn-danger"
      (click)="addFlag = false"
    >
      <i class="icon-remove"></i>
    </button>
  </div>
</div>
<div class="m-2">
  <div class="input-group">
    <input
      [(ngModel)]="SearchQuery"
      type="text"
      id="taskData"
      class="form-control"
      onblur="this.value=''"
      placeholder="Add task to filter Press Enter to save"
      required="required"
    />
    <button
      tyoe="sumbit"
      class="form-control"
      class="btn btn-primary"
      (click)="generateUrls()"
    >
      <i class="icon-ok-sign"></i>
    </button>
  </div>
</div>

<h5 class="text-center mt-4">Search Results for : {{ SearchQuery }}</h5>

<div class="mt-5">
  <div *ngFor="let t of values">
    <div class="card ml-5 mr-5 m-3">
      <div class="m-0">
        <div class="input-group">
          <a class="m-1 form-control border border-white" href="{{ t.url }}">{{
            t.name
          }}</a>
          <img class="m-3" width="20px" height="20px" src="{{ t.image }}" />
        </div>
      </div>
    </div>
  </div>
</div>
